<%- include('header') -%>
<body>
<form method="POST" action="/login">

    <label for="username" >Username</label>
    <input type="text" id="username" name="username" maxlength="63" required>
    <br>
    <label for="password" >Password</label>
    <input type="text" id="password" name="password"  required>
    <input type="submit" id="submit" value="Log in">
</form>
</body>