<%- include('header') -%>
<form method="POST" action="/log-in">

    <label for="username" >Nafn*</label>
    <input type="text" id="username" name="username" maxlength="63" required>
    <br>
    <label for="password" >SSN*</label>
    <input type="text" id="password" name="password"  required>
    <input type="submit" id="submit" value="Skrifa Undir">
</form>